{% from "macros/text-header.njk" import textHeader %}
{% from "macros/anchor.njk" import anchor %}

<div class="content-block p6">
  {{ anchor("contact")}}
  {{ textHeader(1, null, "Contact me")}}
  <div class="intro__bg"></div>
</div>