<header class="header">
  <div class="header__inner flex-row align-stretch justify-between">
    <p class="header__logo fs5 flex-row align-center">Q</p>
    <nav class="flex-row align-stretch">
      <a href="#portfolio" class="nav__link p3">
        <p class="nav__link-inner fs3">Portfolio</p>
      </a>
      <a href="#contact" class="nav__link p3">
        <p class="nav__link-inner fs3">Contact</p>
      </a>
    </nav>
  </div>
</header>