{% from "macros/text-header.njk" import textHeader %}

<div class="content-block p6">
  {{ textHeader(1, "Full Stack Developer", "Oscar Lindqvist")}}
  <p class="intro__paragraph fs2">My story is:</p>
  <div class="bg-circle"></div>
</div>