{% from "macros/text-header.njk" import textHeader %}

<div class="content-block">
  <div class="content-block__inner">
    {{ textHeader(1, "Full Stack Developer", "Oscar Lindqvist")}}
    <div class="card-grid">
      <div class="content-card">
        <div class="content-card__header">
          <div class="content-card__headerindent"></div>
          <h2 class="content-card__headertext">
            My Story
          </h2>
        </div>
        <div class="content-card__content">
          My story
        </div>
      </div>
      <div class="content-card">
        <div class="content-card__header">
          <div class="content-card__headerindent"></div>
          <h2 class="content-card__headertext">
            My Skills
          </h2>
        </div>
        <div class="content-card__content">
          Skills
        </div>
      </div>
    </div>
  </div>
</div>