{% from "macros/text-header.njk" import textHeader %}
{% from "macros/anchor.njk" import anchor %}

<div class="content-block dark-bg p6">
  {{ anchor("portfolio")}}
  {{ textHeader(1, null, "Projects", true)}}
</div>