{% from "macros/text-header.njk" import textHeader %}
{% from "macros/anchor.njk" import anchor %}

<div class="content-block dark-bg">
  <div class="content-block__inner">
    {{ anchor("portfolio")}}
    {{ textHeader(1, null, "Projects", true)}}
    <div class="bg-circle bg-circle-pattern"></div>
  </div>
</div>