{% macro textHeader(level, sub, main, light) %}
  <h{{level}} class="fs6 mb5 flex-row align-stretch{% if (light) %} decorated-header-light{% endif %}">
    <span class="flex-column">
      {% if (sub) %}
        <span class="fs6 decorated-header-maintext">{{sub}}</span>
      {% endif %}
      <span class="fs6 decorated-header-maintext">{{main}}</span>
    </span>
  </h{{level}}>
{% endmacro %}