@use 'modules/normalize';
@use 'modules/reset';
@use 'modules/utils';
@use 'modules/variables';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: variables.$lightBg;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

// main

.main {
  padding-top: variables.$navHeight;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: hidden;
}

// decorated header

.decorated-header-stripe {
  width: 2rem;
  background-color: variables.$darkBg;
}

.decorated-header-stripe-thin {
  width: 0.4rem;
  background-color: variables.$darkBg;
}

.decorated-header-subtext {
  font-weight: 400;
  color: variables.$textDark;
}

.decorated-header-maintext {
  font-weight: 500;
  color: variables.$textDark;
}

.decorated-header-light {
  .decorated-header-stripe {
    width: 2rem;
    background-color: variables.$textLight;
  }

  .decorated-header-stripe-thin {
    width: 0.4rem;
    background-color: variables.$textLight;
  }

  .decorated-header-subtext {
    font-weight: 400;
    color: variables.$textLight;
  }

  .decorated-header-maintext {
    font-weight: 500;
    color: variables.$textLight;
  }
}

// content-div

.content-block {
  min-height: calc(
    100vh - #{variables.$navHeight}
  );
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  position: relative;
}

.content-block__inner {
  flex: 1;
  padding: 2.5rem 0rem;
  max-width: variables.$innerWidth;
}

.dark-bg {
  background-color: variables.$darkBg;
}

// hidden anchor

.hidden-anchor {
  display: block;
  position: absolute;
  top: -4.5rem;
  visibility: hidden;
}

// background images

.bg-circle {
  top: 0;
  left: 67%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-image: url(/assets/portrait.png);
  background-size: 80%;
  background-attachment: fixed;
  background-position-x: 150%;
  opacity: 0.35;
}

.bg-circle-pattern {
  background-image: url(/assets/pattern.png);
}

.bg-circle-stairs {
  background-image: url(/assets/stairs.png);
}

// header

.header {
  height: variables.$navHeight;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: variables.$lightBg;
  transition: background-color 0.4s;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.077);
  padding: 0 1.5rem;
}

.header__inner {
  flex: 1;
  max-width: variables.$innerWidth;
}

.header--darkened {
  background-color: variables.$darkBg;
  .nav__link-inner,
  .header__logo {
    color: variables.$textLight;
  }
}

.header__logo {
  color: variables.$textDark;
  font-weight: 500;
  transition: color 0.4s;
}

.nav__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link:hover {
  background-color: variables.$lightBgHover;
}

.nav__link:focus {
  outline: none;
}

.nav__link-inner {
  color: variables.$textDark;
  transition: color 0.4s;
}

.nav__link:focus .nav__link-inner {
  outline: variables.$faded solid 2px;
  outline-offset: 4px;
}

.intro__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url(/assets/portrait.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 99%;
  background-position-y: variables.$navHeight;
  background-attachment: fixed;
}

@media screen and (min-width: 1150px) {
  .intro__bg {
    background-size: 40%;
    background-position-y: center;
  }
}

.intro__paragraph {
  color: variables.$textDark;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 40rem;
}

.intro__paragraph + .intro__paragraph {
  margin-top: 1rem;
}

.portfolio__paragraph {
  color: variables.$textLight;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 40rem;
}

.portfolio__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  background-image: url(/assets/pattern.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 99%;
  background-position-y: variables.$navHeight;
  background-attachment: fixed;
}

@media screen and (min-width: 1150px) {
  .portfolio__bg {
    background-size: 40%;
    background-position-y: center;
  }
}

// Content card

.content-card {
  overflow: hidden;
  border-right: 1px solid lighten(variables.$textDark, 50%);
}

.content-card__header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0.7rem;
  padding-left: 0rem;
}

.content-card__headerindent {
  background-color: lighten(variables.$textDark, 25%);
  height: 2rem;
  width: 1rem;
  margin-right: 0.7rem;
}

.content-card__headertext {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: variables.$textDark;
  text-align: center;
}

.content-card__content {
  padding: 0.7rem;
  padding-left: 0rem;
}

.card-grid {
  border-top: 1px solid lighten(variables.$textDark, 50%);
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}