a.ContactLink-top,
a.ContactLink-top:link,
a.ContactLink-top:visited,
a.ContactLink-top:active {
  height: calc(3rem + 3px);
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--theme2);
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  color: var(--theme2);
  display: flex;
  align-items: center;
  justify-content: center;
}

a.ContactLink-top:hover {
  background-color: var(--theme2);
  color: var(--bg);
}
