.Footer-text {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8rem;
  color: var(--theme2);
}

.Footer-circle {
  color: var(--theme2);
  font-size: 0.3rem;
}

footer a {
  color: var(--theme2);
}

footer a:hover {
  color: var(--pop);
}
