.IndentedHeader-text-light {
  color: white;
  background-color: var(--theme2);
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Source Code Pro', monospace;
}

.IndentedHeader-text-dark {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;
  }

.IndentedHeader-indent-line {
  max-width: 6rem;
}

@media screen and (min-width: 800px) {
  .IndentedHeader-indent-line {
    max-width: 9rem;
  }
}

.IndentedHeader-deco-light {
  height: 0.1rem;
  background-color: var(--theme2);
}

.IndentedHeader-deco-dark {
    height: 0.1rem;
    opacity: 0.4;
    background-color: white;
  }

.IndentedHeader-circle-light {
  color: var(--theme2);
  font-size: 0.7rem;
}

.IndentedHeader-circle-dark {
    opacity: 0.4;
    color: white;
    font-size: 0.7rem;
  }

.IndentedHeader-excl-light {
  color: var(--theme2);
  background-color: var(--bg);
}
