.Project-angle-deco {
  border-bottom: 0.1rem solid white;
  border-left: 0.1rem solid white;
  border-bottom-left-radius: 0.5rem;
  transform: translate(0, -50%);
  opacity: 0.4;
}

.Project-circle {
  opacity: 0.4;
  color: white;
  font-size: 0.5rem;
}

.Project-title {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: white;
  color: var(--theme2);
  padding: 0.2rem;
}

.Project-link-social {
  color: white;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.3rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--bg);
}

.Project-link-social i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.Project-link-social:hover {
  color: var(--pop-light);
  border-color: var(--pop-light);
}
