:root {
  --bg: rgb(216, 214, 213);
  --theme1: rgb(247, 169, 1);
  --theme2: rgb(54, 55, 99);
  --text: rgb(14, 3, 29);
  --pop: rgb(204, 73, 95);
  --pop-light: rgb(243, 101, 124);
  --clickable: rgb(65, 182, 11);
}

body {
  background-color: var(--bg);
}