* {
  margin: 0;
  padding: 0;
  /*
  border: 1px solid black;
  */
}

/* Variables */

:root {
  --small: 0.5rem;
  --standard: 1.5rem;
  --large: 3rem;
  --x-large: 6rem;
}

/* Utilities not get given screen size variations */

.overflow-hidden {
  overflow: hidden;
}

.grow {
  flex: 1;
}

.maxed {
  width: 100%;
}

/* Standard options (standard should be thought of as extra-small, the default option */

.hide {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.m {
  margin: var(--standard);
}

.m-top {
  margin-top: var(--standard);
}

.m-bottom {
  margin-bottom: var(--standard);
}

.m-left {
  margin-left: var(--standard);
}

.m-right {
  margin-right: var(--standard);
}

.m-small {
  margin: var(--small);
}

.m-top-small {
  margin-top: var(--small);
}

.m-bottom-small {
  margin-bottom: var(--small);
}

.m-left-small {
  margin-left: var(--small);
}

.m-right-small {
  margin-right: var(--small);
}

.m-large {
  margin: var(--large);
}

.m-top-large {
  margin-top: var(--large);
}

.m-bottom-large {
  margin-bottom: var(--large);
}

.m-left-large {
  margin-left: var(--large);
}

.m-right-large {
  margin-right: var(--large);
}

.m-x-large {
  margin: var(--x-large);
}

.m-top-x-large {
  margin-top: var(--x-large);
}

.m-bottom-x-large {
  margin-bottom: var(--x-large);
}

.m-left-x-large {
  margin-left: var(--x-large);
}

.m-right-x-large {
  margin-right: var(--x-large);
}

.p {
  padding: var(--standard);
}

.p-top {
  padding-top: var(--standard);
}

.p-bottom {
  padding-bottom: var(--standard);
}

.p-left {
  padding-left: var(--standard);
}

.p-right {
  padding-right: var(--standard);
}

.p-small {
  padding: var(--small);
}

.p-top-small {
  padding-top: var(--small);
}

.p-bottom-small {
  padding-bottom: var(--small);
}

.p-left-small {
  padding-left: var(--small);
}

.p-right-small {
  padding-right: var(--small);
}

.p-large {
  padding: var(--large);
}

.p-top-large {
  padding-top: var(--large);
}

.p-bottom-large {
  padding-bottom: var(--large);
}

.p-left-large {
  padding-left: var(--large);
}

.p-right-large {
  padding-right: var(--large);
}

.p-x-large {
  padding: var(--x-large);
}

.p-top-x-large {
  padding-top: var(--x-large);
}

.p-bottom-x-large {
  padding-bottom: var(--x-large);
}

.p-left-x-large {
  padding-left: var(--x-large);
}

.p-right-x-large {
  padding-right: var(--x-large);
}

/* Small screen options */

@media screen and (min-width: 525px) {
  .screen-small-hide {
    display: none;
  }

  .screen-small-block {
    display: block;
  }

  .screen-small-flex-row {
    display: flex;
    flex-direction: row;
  }

  .screen-small-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .screen-small-flex-column {
    display: flex;
    flex-direction: column;
  }

  .screen-small-flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .screen-small-justify-start {
    justify-content: flex-start;
  }

  .screen-small-justify-end {
    justify-content: flex-end;
  }

  .screen-small-justify-center {
    justify-content: center;
  }

  .screen-small-justify-between {
    justify-content: space-between;
  }

  .screen-small-justify-around {
    justify-content: space-around;
  }

  .screen-small-align-start {
    align-items: flex-start;
  }

  .screen-small-align-end {
    align-items: flex-end;
  }

  .screen-small-align-center {
    align-items: center;
  }

  .screen-small-align-stretch {
    align-items: stretch;
  }

  .screen-small-m {
    margin: var(--standard);
  }

  .screen-small-m-top {
    margin-top: var(--standard);
  }

  .screen-small-m-bottom {
    margin-bottom: var(--standard);
  }

  .screen-small-m-left {
    margin-left: var(--standard);
  }

  .screen-small-m-right {
    margin-right: var(--standard);
  }

  .screen-small-m-small {
    margin: var(--small);
  }

  .screen-small-m-top-small {
    margin-top: var(--small);
  }

  .screen-small-m-bottom-small {
    margin-bottom: var(--small);
  }

  .screen-small-m-left-small {
    margin-left: var(--small);
  }

  .screen-small-m-right-small {
    margin-right: var(--small);
  }

  .screen-small-m-large {
    margin: var(--large);
  }

  .screen-small-m-top-large {
    margin-top: var(--large);
  }

  .screen-small-m-bottom-large {
    margin-bottom: var(--large);
  }

  .screen-small-m-left-large {
    margin-left: var(--large);
  }

  .screen-small-m-right-large {
    margin-right: var(--large);
  }

  .screen-small-m-x-large {
    margin: var(--x-large);
  }

  .screen-small-m-top-x-large {
    margin-top: var(--x-large);
  }

  .screen-small-m-bottom-x-large {
    margin-bottom: var(--x-large);
  }

  .screen-small-m-left-x-large {
    margin-left: var(--x-large);
  }

  .screen-small-m-right-x-large {
    margin-right: var(--x-large);
  }

  .screen-small-no-m {
    margin: 0;
  }

  .screen-small-no-m-top {
    margin-top: 0;
  }

  .screen-small-no-m-bottom {
    margin-bottom: 0;
  }

  .screen-small-no-m-left {
    margin-left: 0;
  }

  .screen-small-no-m-right {
    margin-right: 0;
  }

  .screen-small-p {
    padding: var(--standard);
  }

  .screen-small-p-top {
    padding-top: var(--standard);
  }

  .screen-small-p-bottom {
    padding-bottom: var(--standard);
  }

  .screen-small-p-left {
    padding-left: var(--standard);
  }

  .screen-small-p-right {
    padding-right: var(--standard);
  }

  .screen-small-p-small {
    padding: var(--small);
  }

  .screen-small-p-top-small {
    padding-top: var(--small);
  }

  .screen-small-p-bottom-small {
    padding-bottom: var(--small);
  }

  .screen-small-p-left-small {
    padding-left: var(--small);
  }

  .screen-small-p-right-small {
    padding-right: var(--small);
  }

  .screen-small-p-large {
    padding: var(--large);
  }

  .screen-small-p-top-large {
    padding-top: var(--large);
  }

  .screen-small-p-bottom-large {
    padding-bottom: var(--large);
  }

  .screen-small-p-left-large {
    padding-left: var(--large);
  }

  .screen-small-p-right-large {
    padding-right: var(--large);
  }

  .screen-small-p-x-large {
    padding: var(--x-large);
  }

  .screen-small-p-top-x-large {
    padding-top: var(--x-large);
  }

  .screen-small-p-bottom-x-large {
    padding-bottom: var(--x-large);
  }

  .screen-small-p-left-x-large {
    padding-left: var(--x-large);
  }

  .screen-small-p-right-x-large {
    padding-right: var(--x-large);
  }

  .screen-small-no-p {
    padding: 0;
  }

  .screen-small-no-p-top {
    padding-top: 0;
  }

  .screen-small-no-p-bottom {
    padding-bottom: 0;
  }

  .screen-small-no-p-left {
    padding-left: 0;
  }

  .screen-small-no-p-right {
    padding-right: 0;
  }
}

/* Medium options */

@media screen and (min-width: 800px) {
  .screen-medium-hide {
    display: none;
  }

  .screen-medium-block {
    display: block;
  }

  .screen-medium-flex-row {
    display: flex;
    flex-direction: row;
  }

  .screen-medium-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .screen-medium-flex-column {
    display: flex;
    flex-direction: column;
  }

  .screen-medium-flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .screen-medium-justify-start {
    justify-content: flex-start;
  }

  .screen-medium-justify-end {
    justify-content: flex-end;
  }

  .screen-medium-justify-center {
    justify-content: center;
  }

  .screen-medium-justify-between {
    justify-content: space-between;
  }

  .screen-medium-justify-around {
    justify-content: space-around;
  }

  .screen-medium-align-start {
    align-items: flex-start;
  }

  .screen-medium-align-end {
    align-items: flex-end;
  }

  .screen-medium-align-center {
    align-items: center;
  }

  .screen-medium-align-stretch {
    align-items: stretch;
  }

  .screen-medium-m {
    margin: var(--standard);
  }

  .screen-medium-m-top {
    margin-top: var(--standard);
  }

  .screen-medium-m-bottom {
    margin-bottom: var(--standard);
  }

  .screen-medium-m-left {
    margin-left: var(--standard);
  }

  .screen-medium-m-right {
    margin-right: var(--standard);
  }

  .screen-medium-m-small {
    margin: var(--small);
  }

  .screen-medium-m-top-small {
    margin-top: var(--small);
  }

  .screen-medium-m-bottom-small {
    margin-bottom: var(--small);
  }

  .screen-medium-m-left-small {
    margin-left: var(--small);
  }

  .screen-medium-m-right-small {
    margin-right: var(--small);
  }

  .screen-medium-m-large {
    margin: var(--large);
  }

  .screen-medium-m-top-large {
    margin-top: var(--large);
  }

  .screen-medium-m-bottom-large {
    margin-bottom: var(--large);
  }

  .screen-medium-m-left-large {
    margin-left: var(--large);
  }

  .screen-medium-m-right-large {
    margin-right: var(--large);
  }

  .screen-medium-m-x-large {
    margin: var(--x-large);
  }

  .screen-medium-m-top-x-large {
    margin-top: var(--x-large);
  }

  .screen-medium-m-bottom-x-large {
    margin-bottom: var(--x-large);
  }

  .screen-medium-m-left-x-large {
    margin-left: var(--x-large);
  }

  .screen-medium-m-right-x-large {
    margin-right: var(--x-large);
  }

  .screen-medium-no-m {
    margin: 0;
  }

  .screen-medium-no-m-top {
    margin-top: 0;
  }

  .screen-medium-no-m-bottom {
    margin-bottom: 0;
  }

  .screen-medium-no-m-left {
    margin-left: 0;
  }

  .screen-medium-no-m-right {
    margin-right: 0;
  }

  .screen-medium-p {
    padding: var(--standard);
  }

  .screen-medium-p-top {
    padding-top: var(--standard);
  }

  .screen-medium-p-bottom {
    padding-bottom: var(--standard);
  }

  .screen-medium-p-left {
    padding-left: var(--standard);
  }

  .screen-medium-p-right {
    padding-right: var(--standard);
  }

  .screen-medium-p-small {
    padding: var(--small);
  }

  .screen-medium-p-top-small {
    padding-top: var(--small);
  }

  .screen-medium-p-bottom-small {
    padding-bottom: var(--small);
  }

  .screen-medium-p-left-small {
    padding-left: var(--small);
  }

  .screen-medium-p-right-small {
    padding-right: var(--small);
  }

  .screen-medium-p-large {
    padding: var(--large);
  }

  .screen-medium-p-top-large {
    padding-top: var(--large);
  }

  .screen-medium-p-bottom-large {
    padding-bottom: var(--large);
  }

  .screen-medium-p-left-large {
    padding-left: var(--large);
  }

  .screen-medium-p-right-large {
    padding-right: var(--large);
  }

  .screen-medium-p-x-large {
    padding: var(--x-large);
  }

  .screen-medium-p-top-x-large {
    padding-top: var(--x-large);
  }

  .screen-medium-p-bottom-x-large {
    padding-bottom: var(--x-large);
  }

  .screen-medium-p-left-x-large {
    padding-left: var(--x-large);
  }

  .screen-medium-p-right-x-large {
    padding-right: var(--x-large);
  }

  .screen-medium-no-p {
    padding: 0;
  }

  .screen-medium-no-p-top {
    padding-top: 0;
  }

  .screen-medium-no-p-bottom {
    padding-bottom: 0;
  }

  .screen-medium-no-p-left {
    padding-left: 0;
  }

  .screen-medium-no-p-right {
    padding-right: 0;
  }
}
